In [1]:
import pickle
import pandas as pd

In [92]:
with open('./dados.pkl', 'rb') as f:
    dados = pickle.load(f)

df_scrapping = pd.DataFrame(dados)
df_scrapping = df_scrapping[df_scrapping['season']>2003]
df_scrapping.head()

,g,season,date_game,game_start_time,link,team_1,team_2,home,game_result,pts,...,team_2_orb_pct,team_2_drb_pct,team_2_trb_pct,team_2_ast_pct,team_2_stl_pct,team_2_blk_pct,team_2_tov_pct,team_2_usg_pct,team_2_off_rtg,team_2_def_rtg
3567,2,2004,"Fri, Oct 31, 2003",8:00p,https://www.basketball-reference.com/boxscores...,NJN,MIN,0,W,84,...,25.0,71.4,45.6,60.0,5.5,7.8,24.6,100.0,66.9,92.2
3568,4,2004,"Tue, Nov 4, 2003",7:30p,https://www.basketball-reference.com/boxscores...,NJN,HOU,0,L,75,...,17.9,76.5,55.7,48.6,10.2,5.9,23.0,100.0,97.5,85.1
3569,5,2004,"Thu, Nov 6, 2003",7:00p,https://www.basketball-reference.com/boxscores...,NJN,IND,0,L,81,...,25.0,60.5,45.3,62.5,13.4,10.1,24.7,100.0,97.3,90.6
3570,8,2004,"Wed, Nov 12, 2003",7:00p,https://www.basketball-reference.com/boxscores...,NJN,SAS,0,L,71,...,26.8,79.6,55.6,50.0,5.8,12.5,13.1,100.0,98.0,81.8
3571,9,2004,"Fri, Nov 14, 2003",7:30p,https://www.basketball-reference.com/boxscores...,NJN,NYK,0,W,85,...,23.7,77.3,52.4,66.7,13.0,9.7,22.0,100.0,86.7,92.1

In [93]:
df_completo = pd.read_csv('./dados_jogos_pt_1.csv')
df_completo = df_completo[df_completo['season']>2003]

df_completo.head()

,g,season,date_game,game_start_time,link,team_1,team_2,home,game_result,pts,opp_pts,wins,losses,game_streak,game_remarks
50322,1,2004,"Wed, Oct 29, 2003",8:00p,https://www.basketball-reference.com/boxscores...,NJN,TOR,1,L,87,90,0,1,L 1,NaN
50323,2,2004,"Fri, Oct 31, 2003",8:00p,https://www.basketball-reference.com/boxscores...,NJN,MIN,0,W,84,61,1,1,W 1,NaN
50324,3,2004,"Sat, Nov 1, 2003",7:00p,https://www.basketball-reference.com/boxscores...,NJN,WAS,1,W,98,85,2,1,W 2,NaN
50325,4,2004,"Tue, Nov 4, 2003",7:30p,https://www.basketball-reference.com/boxscores...,NJN,HOU,0,L,75,86,2,2,L 1,NaN
50326,5,2004,"Thu, Nov 6, 2003",7:00p,https://www.basketball-reference.com/boxscores...,NJN,IND,0,L,81,87,2,3,L 2,NaN

In [94]:
df_scrapping.columns

Index(['g', 'season', 'date_game', 'game_start_time', 'link', 'team_1',
       'team_2', 'home', 'game_result', 'pts', 'opp_pts', 'wins', 'losses',
       'game_streak', 'game_remarks', 'team_1_mp', 'team_1_fg', 'team_1_fga',
       'team_1_fg_pct', 'team_1_fg3', 'team_1_fg3a', 'team_1_fg3_pct',
       'team_1_ft', 'team_1_fta', 'team_1_ft_pct', 'team_1_orb', 'team_1_drb',
       'team_1_trb', 'team_1_ast', 'team_1_stl', 'team_1_blk', 'team_1_tov',
       'team_1_pf', 'team_1_pts', 'team_1_ts_pct', 'team_1_efg_pct',
       'team_1_fg3a_per_fga_pct', 'team_1_fta_per_fga_pct', 'team_1_orb_pct',
       'team_1_drb_pct', 'team_1_trb_pct', 'team_1_ast_pct', 'team_1_stl_pct',
       'team_1_blk_pct', 'team_1_tov_pct', 'team_1_usg_pct', 'team_1_off_rtg',
       'team_1_def_rtg', 'team_2_mp', 'team_2_fg', 'team_2_fga',
       'team_2_fg_pct', 'team_2_fg3', 'team_2_fg3a', 'team_2_fg3_pct',
       'team_2_ft', 'team_2_fta', 'team_2_ft_pct', 'team_2_orb', 'team_2_drb',
       'team_2_trb', 'team_2_ast', 'team_2_stl', 'team_2_blk', 'team_2_tov',
       'team_2_pf', 'team_2_pts', 'team_2_ts_pct', 'team_2_efg_pct',
       'team_2_fg3a_per_fga_pct', 'team_2_fta_per_fga_pct', 'team_2_orb_pct',
       'team_2_drb_pct', 'team_2_trb_pct', 'team_2_ast_pct', 'team_2_stl_pct',
       'team_2_blk_pct', 'team_2_tov_pct', 'team_2_usg_pct', 'team_2_off_rtg',
       'team_2_def_rtg'],
      dtype='object')

In [101]:
years = list(df_scrapping['season'].unique())
team_1_columns = ['team_1_mp', 'team_1_fg', 'team_1_fga',
       'team_1_fg_pct', 'team_1_fg3', 'team_1_fg3a', 'team_1_fg3_pct',
       'team_1_ft', 'team_1_fta', 'team_1_ft_pct', 'team_1_orb', 'team_1_drb',
       'team_1_trb', 'team_1_ast', 'team_1_stl', 'team_1_blk', 'team_1_tov',
       'team_1_pf', 'team_1_pts', 'team_1_ts_pct', 'team_1_efg_pct',
       'team_1_fg3a_per_fga_pct', 'team_1_fta_per_fga_pct', 'team_1_orb_pct',
       'team_1_drb_pct', 'team_1_trb_pct', 'team_1_ast_pct', 'team_1_stl_pct',
       'team_1_blk_pct', 'team_1_tov_pct', 'team_1_usg_pct', 'team_1_off_rtg',
       'team_1_def_rtg']

team_2_columns = ['team_2_mp', 'team_2_fg', 'team_2_fga',
       'team_2_fg_pct', 'team_2_fg3', 'team_2_fg3a', 'team_2_fg3_pct',
       'team_2_ft', 'team_2_fta', 'team_2_ft_pct', 'team_2_orb', 'team_2_drb',
       'team_2_trb', 'team_2_ast', 'team_2_stl', 'team_2_blk', 'team_2_tov',
       'team_2_pf', 'team_2_pts', 'team_2_ts_pct', 'team_2_efg_pct',
       'team_2_fg3a_per_fga_pct', 'team_2_fta_per_fga_pct', 'team_2_orb_pct',
       'team_2_drb_pct', 'team_2_trb_pct', 'team_2_ast_pct', 'team_2_stl_pct',
       'team_2_blk_pct', 'team_2_tov_pct', 'team_2_usg_pct', 'team_2_off_rtg',
       'team_2_def_rtg'
]

dados_processados = []

for index, row in df_scrapping.iterrows():
    dados_jogo = {}
    
    season = row['season']
    dados_jogo['season'] = season
    dados_jogo['date_game'] = row['date_game']
    team_1 = row['team_1']
    if team_1 == 'CHH' and season<2003:
        continue
    dados_jogo['team_1'] = team_1
    team_2 = row['team_2']
    if team_2 == 'CHH' and season<2003:
        continue
    dados_jogo['team_2'] = team_2
    
    game_index_team_1 = row['g']

    
    query = df_completo[(df_completo['season'] == row['season']) & (df_completo['date_game'] == row['date_game']) &
                (df_completo['team_1'] == team_2) & (df_completo['team_2'] == team_1)]
    

    
    game_index_team_2 = query.iloc[0]['g']
    
    if game_index_team_1 != 1 and game_index_team_2 != 1:
        # Verificando se no jogo anterior jogou fora de casa
        query_team_1 = df_completo[(df_completo['season'] == season) & (df_completo['team_1'] == team_1) & (df_completo['g'] == game_index_team_1-1)]
        
        logic_home_team_1 = query_team_1.iloc[0]['home']

        team_1_colunas = team_1_columns[:] if logic_home_team_1 == 0 else team_2_columns[:]

        if logic_home_team_1 == 0:
            query_team_1_detalhada = df_scrapping[(df_scrapping['season'] == season) & (df_scrapping['team_1'] == team_1) & (df_scrapping['date_game'] == query_team_1.iloc[0]['date_game'])]
            query_team_1_detalhada = query_team_1_detalhada.iloc[0]

            for index, value in enumerate(team_1_colunas):
                dados_jogo[team_1_columns[index]] = query_team_1_detalhada[value]
        else:
            query_team_1_detalhada = df_scrapping[(df_scrapping['season'] == season) & (df_scrapping['team_2'] == team_1) & (df_scrapping['date_game'] == query_team_1.iloc[0]['date_game'])]
            
            for index, value in enumerate(team_1_colunas):
                dados_jogo[team_1_columns[index]] = query_team_1_detalhada[value].iloc[0]

        dados_jogo['team_1_ws'] = query_team_1.iloc[0]['game_streak']
        # Capturando os dados para o team_2
        query_team_2 = df_completo[(df_completo['season'] == season) & (df_completo['team_1'] == team_2) & (df_completo['g'] == game_index_team_2-1)]
        
        logic_home_team_2 = query_team_2.iloc[0]['home']

        team_2_colunas = team_1_columns[:] if logic_home_team_2 == 0 else team_2_columns[:]

        if logic_home_team_2 == 0:
            query_team_2_detalhada = df_scrapping[(df_scrapping['season'] == season) & (df_scrapping['team_1'] == team_2) & (df_scrapping['date_game'] == query_team_2.iloc[0]['date_game'])]

            for index, value in enumerate(team_2_colunas):
                dados_jogo[team_2_columns[index]] = query_team_2_detalhada[value].iloc[0]
        else:
            query_team_2_detalhada = df_scrapping[(df_scrapping['season'] == season) & (df_scrapping['team_2'] == team_2) & (df_scrapping['date_game'] == query_team_2.iloc[0]['date_game'])]
            
            for index, value in enumerate(team_2_colunas):
                dados_jogo[team_2_columns[index]] = query_team_2_detalhada[value].iloc[0]
        
        dados_jogo['team_2_ws'] = query_team_2.iloc[0]['game_streak']
        
        dados_jogo['game_result'] = row['game_result']            
    
    dados_processados.append(dados_jogo)

In [74]:
query_team_2_detalhada = df_scrapping[(df_scrapping['season'] == season) & (df_scrapping['team_2'] == 'SEA') & (df_scrapping['date_game'] == query_team_2.iloc[0]['date_game'])]

In [98]:
df_scrapping.shape

(25252, 81)

In [104]:
df_final = pd.DataFrame(dados_processados)

In [3]:
df_final = pd.read_csv('./dados_jogos.csv')

In [5]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25252 entries, 0 to 25251
Data columns (total 73 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   25252 non-null  int64
 1   date_game                25252 non-null  object
 2   team_1                   25252 non-null  object
 3   team_2                   25252 non-null  object
 4   team_1_mp                24895 non-null  float64
 5   team_1_fg                24895 non-null  float64
 6   team_1_fga               24895 non-null  float64
 7   team_1_fg_pct            24895 non-null  float64
 8   team_1_fg3               24895 non-null  float64
 9   team_1_fg3a              24895 non-null  float64
 10  team_1_fg3_pct           24895 non-null  float64
 11  team_1_ft                24895 non-null  float64
 12  team_1_fta               24895 non-null  float64
 13  team_1_ft_pct            24894 non-null  float64
 14  team_1_orb               24895 non-null  float64
 15  team_1_drb               24895 non-null  float64
 16  team_1_trb               24895 non-null  float64
 17  team_1_ast               24895 non-null  float64
 18  team_1_stl               24895 non-null  float64
 19  team_1_blk               24895 non-null  float64
 20  team_1_tov               24895 non-null  float64
 21  team_1_pf                24895 non-null  float64
 22  team_1_pts               24895 non-null  float64
 23  team_1_ts_pct            24895 non-null  float64
 24  team_1_efg_pct           24895 non-null  float64
 25  team_1_fg3a_per_fga_pct  24895 non-null  float64
 26  team_1_fta_per_fga_pct   24895 non-null  float64
 27  team_1_orb_pct           24895 non-null  float64
 28  team_1_drb_pct           24895 non-null  float64
 29  team_1_trb_pct           24895 non-null  float64
 30  team_1_ast_pct           24895 non-null  float64
 31  team_1_stl_pct           24895 non-null  float64
 32  team_1_blk_pct           24895 non-null  float64
 33  team_1_tov_pct           24895 non-null  float64
 34  team_1_usg_pct           24895 non-null  float64
 35  team_1_off_rtg           24895 non-null  float64
 36  team_1_def_rtg           24887 non-null  float64
 37  team_1_ws                24895 non-null  object
 38  team_2_mp                24895 non-null  float64
 39  team_2_fg                24895 non-null  float64
 40  team_2_fga               24895 non-null  float64
 41  team_2_fg_pct            24895 non-null  float64
 42  team_2_fg3               24895 non-null  float64
 43  team_2_fg3a              24895 non-null  float64
 44  team_2_fg3_pct           24895 non-null  float64
 45  team_2_ft                24895 non-null  float64
 46  team_2_fta               24895 non-null  float64
 47  team_2_ft_pct            24895 non-null  float64
 48  team_2_orb               24895 non-null  float64
 49  team_2_drb               24895 non-null  float64
 50  team_2_trb               24895 non-null  float64
 51  team_2_ast               24895 non-null  float64
 52  team_2_stl               24895 non-null  float64
 53  team_2_blk               24895 non-null  float64
 54  team_2_tov               24895 non-null  float64
 55  team_2_pf                24895 non-null  float64
 56  team_2_pts               24895 non-null  float64
 57  team_2_ts_pct            24895 non-null  float64
 58  team_2_efg_pct           24895 non-null  float64
 59  team_2_fg3a_per_fga_pct  24895 non-null  float64
 60  team_2_fta_per_fga_pct   24895 non-null  float64
 61  team_2_orb_pct           24895 non-null  float64
 62  team_2_drb_pct           24895 non-null  float64
 63  team_2_trb_pct           24895 non-null  float64
 64  team_2_ast_pct           24895 non-null  float64
 65  team_2_stl_pct           24895 non-null  float64
 66  team_2_blk_pct           24895 non-null  float64
 67  team_2_tov_pct           24895 non-null  float64
 68  team_2_usg_pct           24895 non-null  float64
 69  team_2_off_rtg           24895 non-null  float64
 70  team_2_def_rtg           24887 non-null  float64
 71  team_2_ws                24895 non-null  object
 72  game_result              24895 non-null  object
dtypes: float64(66), int64(1), object(6)
memory usage: 14.1+ MB

In [7]:
df_final['game_result'].value_counts()

game_result
W    14560
L    10335
Name: count, dtype: int64

In [105]:
df_final.to_csv('./dados_jogos.csv', index=False)