In [8]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('dados_jogos.csv')
df = df[df['season']>2010]
df.head()

,season,date_game,team_1,team_2,team_1_mp,team_1_fg,team_1_fga,team_1_fg_pct,team_1_fg3,team_1_fg3a,...,team_2_trb_pct,team_2_ast_pct,team_2_stl_pct,team_2_blk_pct,team_2_tov_pct,team_2_usg_pct,team_2_off_rtg,team_2_def_rtg,team_2_ws,game_result
8569,2011,"Tue, Oct 26, 2010",BOS,MIA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8570,2011,"Fri, Oct 29, 2010",BOS,NYK,240.0,34.0,72.0,0.472,3.0,12.0,...,52.1,31.6,4.1,11.9,14.4,100.0,100.6,95.5,W 1,W
8571,2011,"Wed, Nov 3, 2010",BOS,MIL,240.0,42.0,81.0,0.519,7.0,21.0,...,50.6,59.3,4.7,7.1,17.0,100.0,89.5,106.0,L 1,W
8572,2011,"Fri, Nov 5, 2010",BOS,CHI,265.0,37.0,79.0,0.468,4.0,12.0,...,52.5,64.3,8.1,10.7,17.7,100.0,113.6,121.7,L 1,W
8573,2011,"Wed, Nov 17, 2010",BOS,WAS,265.0,45.0,78.0,0.577,7.0,12.0,...,56.6,62.2,9.8,6.7,15.3,100.0,118.4,102.1,W 1,W

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16683 entries, 8569 to 25251
Data columns (total 73 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   season                   16683 non-null  int64
 1   date_game                16683 non-null  object
 2   team_1                   16683 non-null  object
 3   team_2                   16683 non-null  object
 4   team_1_mp                16450 non-null  float64
 5   team_1_fg                16450 non-null  float64
 6   team_1_fga               16450 non-null  float64
 7   team_1_fg_pct            16450 non-null  float64
 8   team_1_fg3               16450 non-null  float64
 9   team_1_fg3a              16450 non-null  float64
 10  team_1_fg3_pct           16450 non-null  float64
 11  team_1_ft                16450 non-null  float64
 12  team_1_fta               16450 non-null  float64
 13  team_1_ft_pct            16449 non-null  float64
 14  team_1_orb               16450 non-null  float64
 15  team_1_drb               16450 non-null  float64
 16  team_1_trb               16450 non-null  float64
 17  team_1_ast               16450 non-null  float64
 18  team_1_stl               16450 non-null  float64
 19  team_1_blk               16450 non-null  float64
 20  team_1_tov               16450 non-null  float64
 21  team_1_pf                16450 non-null  float64
 22  team_1_pts               16450 non-null  float64
 23  team_1_ts_pct            16450 non-null  float64
 24  team_1_efg_pct           16450 non-null  float64
 25  team_1_fg3a_per_fga_pct  16450 non-null  float64
 26  team_1_fta_per_fga_pct   16450 non-null  float64
 27  team_1_orb_pct           16450 non-null  float64
 28  team_1_drb_pct           16450 non-null  float64
 29  team_1_trb_pct           16450 non-null  float64
 30  team_1_ast_pct           16450 non-null  float64
 31  team_1_stl_pct           16450 non-null  float64
 32  team_1_blk_pct           16450 non-null  float64
 33  team_1_tov_pct           16450 non-null  float64
 34  team_1_usg_pct           16450 non-null  float64
 35  team_1_off_rtg           16450 non-null  float64
 36  team_1_def_rtg           16442 non-null  float64
 37  team_1_ws                16450 non-null  object
 38  team_2_mp                16450 non-null  float64
 39  team_2_fg                16450 non-null  float64
 40  team_2_fga               16450 non-null  float64
 41  team_2_fg_pct            16450 non-null  float64
 42  team_2_fg3               16450 non-null  float64
 43  team_2_fg3a              16450 non-null  float64
 44  team_2_fg3_pct           16450 non-null  float64
 45  team_2_ft                16450 non-null  float64
 46  team_2_fta               16450 non-null  float64
 47  team_2_ft_pct            16450 non-null  float64
 48  team_2_orb               16450 non-null  float64
 49  team_2_drb               16450 non-null  float64
 50  team_2_trb               16450 non-null  float64
 51  team_2_ast               16450 non-null  float64
 52  team_2_stl               16450 non-null  float64
 53  team_2_blk               16450 non-null  float64
 54  team_2_tov               16450 non-null  float64
 55  team_2_pf                16450 non-null  float64
 56  team_2_pts               16450 non-null  float64
 57  team_2_ts_pct            16450 non-null  float64
 58  team_2_efg_pct           16450 non-null  float64
 59  team_2_fg3a_per_fga_pct  16450 non-null  float64
 60  team_2_fta_per_fga_pct   16450 non-null  float64
 61  team_2_orb_pct           16450 non-null  float64
 62  team_2_drb_pct           16450 non-null  float64
 63  team_2_trb_pct           16450 non-null  float64
 64  team_2_ast_pct           16450 non-null  float64
 65  team_2_stl_pct           16450 non-null  float64
 66  team_2_blk_pct           16450 non-null  float64
 67  team_2_tov_pct           16450 non-null  float64
 68  team_2_usg_pct           16450 non-null  float64
 69  team_2_off_rtg           16450 non-null  float64
 70  team_2_def_rtg           16442 non-null  float64
 71  team_2_ws                16450 non-null  object
 72  game_result              16450 non-null  object
dtypes: float64(66), int64(1), object(6)
memory usage: 9.4+ MB

In [4]:
df.dropna(subset=['team_1_mp', 'team_1_fg',
       'team_1_fga', 'team_1_fg_pct', 'team_1_fg3', 'team_1_fg3a',
       'team_1_fg3_pct', 'team_1_ft', 'team_1_fta', 'team_1_ft_pct',
       'team_1_orb', 'team_1_drb', 'team_1_trb', 'team_1_ast', 'team_1_stl',
       'team_1_blk', 'team_1_tov', 'team_1_pf', 'team_1_pts', 'team_1_ts_pct',
       'team_1_efg_pct', 'team_1_fg3a_per_fga_pct', 'team_1_fta_per_fga_pct',
       'team_1_orb_pct', 'team_1_drb_pct', 'team_1_trb_pct', 'team_1_ast_pct',
       'team_1_stl_pct', 'team_1_blk_pct', 'team_1_tov_pct', 'team_1_usg_pct',
       'team_1_off_rtg', 'team_1_def_rtg', 'team_1_ws','team_2_mp',
       'team_2_fg', 'team_2_fga', 'team_2_fg_pct', 'team_2_fg3', 'team_2_fg3a',
       'team_2_fg3_pct', 'team_2_ft', 'team_2_fta', 'team_2_ft_pct',
       'team_2_orb', 'team_2_drb', 'team_2_trb', 'team_2_ast', 'team_2_stl',
       'team_2_blk', 'team_2_tov', 'team_2_pf', 'team_2_pts', 'team_2_ts_pct',
       'team_2_efg_pct', 'team_2_fg3a_per_fga_pct', 'team_2_fta_per_fga_pct',
       'team_2_orb_pct', 'team_2_drb_pct', 'team_2_trb_pct', 'team_2_ast_pct',
       'team_2_stl_pct', 'team_2_blk_pct', 'team_2_tov_pct', 'team_2_usg_pct',
       'team_2_off_rtg', 'team_2_def_rtg', 'team_2_ws'], inplace = True )

In [5]:
df['date_game'] = pd.to_datetime(df['date_game'])
df = df.sort_values(['season', 'date_game']).reset_index(drop=True)

In [ ]:
home_df = df[['team_1', 'season', 'date_game', 'game_result']].copy()
home_df = home_df.rename(columns={'team_1': 'team'})
home_df['game_role'] = 'home'
home_df['result'] = home_df['game_result']

away_df = df[['team_2', 'season', 'date_game', 'game_result']].copy()
away_df = away_df.rename(columns={'team_2': 'team'})
away_df['game_role'] = 'away'
# Visitante ganha se mandante perde
away_df['result'] = away_df['game_result'].apply(lambda x: 'W' if x == 'L' else 'L')

home_df = home_df.sort_values(['team', 'season', 'date_game']).reset_index(drop=True)
away_df = away_df.sort_values(['team', 'season', 'date_game']).reset_index(drop=True)

def compute_streak(df):
    streaks = []
    team_streak = {}
    for team, result in zip(df['team'], df['result']):
        prev = team_streak.get(team, 0)
        if result == 'W':
            if prev > 0:
                new = prev + 1
            else:
                new = 1
        else:
            if prev < 0:
                new = prev - 1
            else:
                new = -1
        streaks.append(new)
        team_streak[team] = new
    return streaks

def compute_momentum(df):
    momentums = []
    team_momentum = {}
    for team, result in zip(df['team'], df['result']):
        prev = team_momentum.get(team, 0)
        new = prev + 1 if result == 'W' else prev - 1
        momentums.append(new)
        team_momentum[team] = new
    return momentums


home_df['wsh'] = compute_streak(home_df)
home_df['gmh'] = compute_momentum(home_df)

away_df['wso'] = compute_streak(away_df)
away_df['gmo'] = compute_momentum(away_df)


# Merge para cada papel do team_1
df = df.merge(
    home_df[['team', 'season', 'date_game', 'wsh', 'gmh']],
    left_on=['team_1', 'season', 'date_game'],
    right_on=['team', 'season', 'date_game'],
    how='left'
).drop(columns=['team'])

df = df.merge(
    away_df[['team', 'season', 'date_game', 'wso', 'gmo']],
    left_on=['team_1', 'season', 'date_game'],
    right_on=['team', 'season', 'date_game'],
    how='left'
).drop(columns=['team'])

df = df.rename(columns={
    'wsh': 'team_1_wsh',
    'gmh': 'team_1_gmh',
    'wso': 'team_1_wso',
    'gmo': 'team_1_gmo'
})

# Agora para o team_2
df = df.merge(
    home_df[['team', 'season', 'date_game', 'wsh', 'gmh']],
    left_on=['team_2', 'season', 'date_game'],
    right_on=['team', 'season', 'date_game'],
    how='left'
).drop(columns=['team'])

df = df.merge(
    away_df[['team', 'season', 'date_game', 'wso', 'gmo']],
    left_on=['team_2', 'season', 'date_game'],
    right_on=['team', 'season', 'date_game'],
    how='left'
).drop(columns=['team'])

df = df.rename(columns={
    'wsh': 'team_2_wsh',
    'gmh': 'team_2_gmh',
    'wso': 'team_2_wso',
    'gmo': 'team_2_gmo'
})

In [7]:
df.columns

Index(['season', 'date_game', 'team_1', 'team_2', 'team_1_mp', 'team_1_fg',
       'team_1_fga', 'team_1_fg_pct', 'team_1_fg3', 'team_1_fg3a',
       'team_1_fg3_pct', 'team_1_ft', 'team_1_fta', 'team_1_ft_pct',
       'team_1_orb', 'team_1_drb', 'team_1_trb', 'team_1_ast', 'team_1_stl',
       'team_1_blk', 'team_1_tov', 'team_1_pf', 'team_1_pts', 'team_1_ts_pct',
       'team_1_efg_pct', 'team_1_fg3a_per_fga_pct', 'team_1_fta_per_fga_pct',
       'team_1_orb_pct', 'team_1_drb_pct', 'team_1_trb_pct', 'team_1_ast_pct',
       'team_1_stl_pct', 'team_1_blk_pct', 'team_1_tov_pct', 'team_1_usg_pct',
       'team_1_off_rtg', 'team_1_def_rtg', 'team_1_ws', 'team_2_mp',
       'team_2_fg', 'team_2_fga', 'team_2_fg_pct', 'team_2_fg3', 'team_2_fg3a',
       'team_2_fg3_pct', 'team_2_ft', 'team_2_fta', 'team_2_ft_pct',
       'team_2_orb', 'team_2_drb', 'team_2_trb', 'team_2_ast', 'team_2_stl',
       'team_2_blk', 'team_2_tov', 'team_2_pf', 'team_2_pts', 'team_2_ts_pct',
       'team_2_efg_pct', 'team_2_fg3a_per_fga_pct', 'team_2_fta_per_fga_pct',
       'team_2_orb_pct', 'team_2_drb_pct', 'team_2_trb_pct', 'team_2_ast_pct',
       'team_2_stl_pct', 'team_2_blk_pct', 'team_2_tov_pct', 'team_2_usg_pct',
       'team_2_off_rtg', 'team_2_def_rtg', 'team_2_ws', 'game_result'],
      dtype='object')

array([5, 4, 3, 2, 1])